body{
    color: blueviolet;
    text-align: left;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
=======
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    background: #33f;
>>>>>>> cabecera
}